.body_about{
    position: relative;
    display: grid;
    overflow: hidden;

    grid-template-areas: 

    "nav nav nav"
    "hea_about hea_about hea_about"
    "about_block about_block about_block"
    "footer footer footer"

    ;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1080px) minmax(10px, 1fr);
    -webkit-box-shadow: 0px 0px 54px 3px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 54px 3px rgba(0,0,0,0.56);
}

@import "nav.scss";
@import "hea_about.scss";
.about_block{
    grid-area: about_block;
    display: grid;
    grid-template-areas: "about_title"
    "about_block1"
    "about_ul1"
    "about_block2"
    "about_ul2";
    padding: 0 20%;

  

}
.about_title{
    grid-area: about_title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 35px;
    padding-top: 60px;
    margin-bottom: 120px;

}

.about_block1{
    grid-area: about_block1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1.4;
    //text-align: center;
}
.about_block2{
    grid-area: about_block2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about_ul1_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
    margin: 30px 0;
}
.about_ul{
    padding-left:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.about_ul1{
    grid-area: about_ul1;
    margin-bottom: 30px;
}
.about_li1{
    margin-bottom: 10px;
}
.about_block2{
    grid-area: about_block2;
    //text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_block2_button{
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 30px 0;

}
.about_ul2{
    grid-area: about_ul2;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
}
.wight{
    font-weight: 600;
}
.about_ul2_button{
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 2px solid black;
    margin: 30px 0;

}