.body_vac{
    position: relative;
    display: grid;
    overflow: hidden;

    grid-template-areas: 

    "nav nav nav"

    "vac_block vac_block vac_block"
    "footer footer footer"

    ;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1080px) minmax(10px, 1fr);
    -webkit-box-shadow: 0px 0px 54px 3px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 54px 3px rgba(0,0,0,0.56);
}
.vac_block{
    padding: 180px 20% ;
    grid-area: vac_block;
    display: grid;
    grid-template-areas: "vac_block1";
    grid-template-columns: 1fr;

}
.vac_block1{
    grid-area: vac_block1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.vac_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin: 30px 0;
}
.vac_grid{
    
        
        display: grid;
        grid-template-columns: repeat(auto-fill, 450px);
        grid-auto-rows:  repeat(auto-fill, 300px);
        grid-auto-flow: dense;
        padding-top: 120px;
        grid-gap: 10px;
        justify-content: center;
}
.vac_item{
    width: 430px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

}
.vac_item_block{
    display: grid;
    grid-template-areas: "vac_item_title"
    "vac_item_center"
    "vac_item_button";
    grid-template-rows: 2fr 5fr 3fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;



}
.vac_item_title{
    grid-area: vac_item_title;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}
.vac_item_center{
    grid-area: vac_item_center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.vac_item_button{
    grid-area: vac_item_button;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.vac_loc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img{
        margin-right: 5px;
        width: 25px;
        height: auto;
    }

}
.vac_time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.vac_but{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.vac_border{
    width: 30px;
    height: 2px;
    background: #000;
    margin-bottom: 60px;
}